<main id="splash" class="container-fluid">
<section>

    <article class="article-fluid">
        <h2 class="article-title">
          Reseña
          </h2>
  
  <hr class="small">
        <div class="article-body">
          
  <div class="article-content">
  <figure class="article-image">
    <img src="../assets/Rick_y_morty.png" alt="">
  </figure>
  <div class="p_cont">
          <p class="">
            Rick Sánchez es la definición exacta de "científico loco". Es alcohólico, es un genio, es irresponsable y está loco. Rick acaba de mudarse a casa de su hija Beth y allí recuerda que tiene un nieto llamado Morty. Sin preguntar a nadie, decide que va a obligarle a que le acompañe a todo tipo de aventuras para que el chico se vuelva inteligente como él y no se convierta en un idiota como Jerry, padre de Morty y yerno de Rick.
<br>
            Así, Rick y Morty comienzan a vivir aventuras intergalácticas a pesar de que la familia no quiere que lo sigan haciendo. Poco a poco tienen que intentar encontrar un equilibrio entre su vida familiar y sus viajes a través del espacio y por distintas realidades paralelas, algo que no es fácil para el pequeño Morty que es incapaz de tener una vida normal al margen de su abuelo.
    <br>        
            Justin Roiland (Hora de aventuras) es el encargado de dar voz a los dos personajes principales: Rick y Morty. Sarah Chalke (Scrubs) interpreta a Beth Smith, Chris Parnell (Archer) es Jerry y Spencer Grammer (Greek) es Summer Smith, la hermana mayor de Morty. En España, el reparto de doblaje está compuesto por Txema Moscoso, Rodri Martín, Héctor Indriago, Susana Damas y Sara Iglesias.
        <br>    
            
  </p>
</div>
</div>
        </div>
    </article>
</section>
</main>