<main class="container-fluid">
	<div class="row pt-2">
		<div class="col-12">
			<mat-toolbar>
				<button mat-icon-button color="primary" aria-label="menu" routerLink="/characters">
					<mat-icon>arrow_back</mat-icon>
				</button>
			</mat-toolbar>
		</div>


		<!-- Etiquetas a renderizar - INICIO -->
		<div class="col-12 col-md-4 text-center justify-content-center mx-auto">
			<div class="card border-0">
				<img src="{{character.image}}" class="rounded mx-auto d-block img-thumbnail border-0 shadow-4-strong" alt="{{character.name}}">				
                <div class="card-body">
					<h5 class="card-title">{{character.name}}</h5>
					<p class="card-text">Especie: {{character.species}}</p>
                    <p class="card-text">Genero: {{character.species}}</p>
                    <p class="card-text">Especie: {{character.species}}</p>
					<div class="stats">
						<div class="half divisor">
                            <div class="stat">Género: </div>
							<div class="stat">{{character.gender}}</div>
							<div class="stat-value">Genero</div>
						</div>
						<div class="half">
                            <div class="stat">Estado: </div>
							<div class="stat">{{character.status}}</div>
							<div class="stat-value">Estado</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Etiquetas a renderizar - FIN -->
			
	</div>
</main>